div {
    height:100px;
    width:100px;
    display: inline-block;
}

#red {
        position:absolute;
		left:4px;
		top:60px;
}
#ss {
    	left:4px;
		top:20px;	
}
#blue {
        position: absolute;
		left:120px;
		top:60px;
        width:100%;

}   

#yellow {
    background-color:#E2BE22;
  
		left:250px;
		top:60px;

}

#green {
    background-color:#008800;
}